#poststuff #category-1, #poststuff #category-38 {display: none;}
.wp-admin .form-table tbody tr td ul.children {margin: 5px 5px 5px 10px;}
#postimagediv {display: none;}
#wptr-hide-title {display: none;}